.toast-container {
    position: absolute;
    z-index: 1;
    float: left;
    width: 600px;
    top: 35%;
    bottom: 25%;
}

.login_toast {

}
.signup_toast{

}

.toast-body{
    
}

.button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #DCC7AA;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    
}

.button:hover {
    background: #f7c331;
    text-decoration: none;
}

